<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>contourLockSettings.py</string>
			<key>preferredName</key>
			<string>Contour Lock Settings</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>Thom Janssen</string>
	<key>developerURL</key>
	<string>https://www.geenbitter.nl</string>
	<key>html</key>
	<true/>
	<key>launchAtStartUp</key>
	<integer>1</integer>
	<key>mainScript</key>
	<string>contourLock.py</string>
	<key>name</key>
	<string>ContoursLock</string>
	<key>requiresVersionMajor</key>
	<string>1</string>
	<key>requiresVersionMinor</key>
	<string>5</string>
	<key>timeStamp</key>
	<real>1400500254.014925</real>
	<key>version</key>
	<string>0.2</string>
	<key>repository</key>
	<string>thomgb/ContoursLock</string>
	<key>extensionPath</key>
	<string>ContoursLock.roboFontExt</string>

</dict>
</plist>
